.todoForm {
  display: flex;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
}
input {
  margin: 10px 0;
  &:first-child {
    margin-top: 0;
  }
}
.form__input {
  background: none;
  font-size: 20px;
  border: 3px solid #b47aea;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
}
.form__button {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  border: none;
  background: none;
  color: #b47aea;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.icon {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
  line-height: 29px;
  /* identical to box height */
  text-decoration: none;
  color: #ffffff;
  background: #b47aea;
  border-radius: 70%;
  padding: 0;
  padding: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: black;
  }
}
